<!DOCTYPE html>
<html>

<head>
    <title>Simple file upload using Python Flask</title>
</head>

<body>

<h2>Text Input</h2>

<form action="/upload" method="post" enctype="multipart/form-data">
    Choose the file: <input type="file" name="txt"/><BR>
        <input type="submit" value="Upload"/>
</form> 
<form action="/upload" method="post" enctype="multipart/form-data">
    'Dear Agilytic Members (or not),<br>
    Welcome to  this amazing Author prediction API!<br>
    Please upload a TXT FILE with a book title to determine the Author!'
</form> 

</body>
</html>


<html>
    
    <body>
        
    </body>
</html>